body {
    background-color: burlywood;
}
.header{
    text-align: center;
    color: dimgrey;
    font-family: "Iowan Old Style", fantasy;
}

.flag{
    margin-left: auto;
    margin-top: -50px
;

}
.links{

    margin-top: -100px;
    margin-left: 81%;
    color: cyan;


}
.search {
    margin-left: 87.5%;
}

.flex-parent1 {
    margin-top: 20px;
    display: flex;

}

.jc-center1 {
    justify-content: center;
    margin-top: 20px;
}

button.margin-right1 {
    margin-top: 20px;
    margin-right: 20px;
}
.flex-parent {
    display: flex;
}

.jc-center {
    justify-content: center;
}

button.margin-right {
    margin-right: 20px;
}

/*a {*/
/*    text-decoration: none;*/
/*    color: #e70202;*/
/*}*/

a:hover {
    color: darkblue;
}

a:active {
    color: crimson;
}

a:visited {
    color: red;
}

.container{
    margin-left: 5px;
    margin-top: 20px;
    text-align: center;
}
img:hover {
    border-style: groove;
    color: cornsilk;
}
