.box{
    width:200px;
    height: 225px;
    background-image: url("tree.jpeg");
    background-size: initial;
}
.title{
    margin-left: 5px;
    margin-right: auto;

    size: 6px;
    color: azure;
}
